@font-face {
    font-family: 'myFontz';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'myFontzThin';
    src: url('../fonts/Roboto-Thin.ttf');
}

* {
  font-size: 100%;
  font-family: 'myFontz';
}

#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed;
  z-index: 10;
}

#left, #right {
  top: 0; bottom: 0;
  width: 15px;
}

#left{
  left: 0;
}

#right{
  right:0;
}

#top, #bottom {
  left: 0; right: 0;
  height: 15px;
}

#top{
  top: 0;
}

#bottom{
  bottom:0;
}

#mainBody{
  background-color: #FFFFFF;
  color: #FFFFFF;
  transition:all 1s;
  font-size: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#myPicture, #apsPic{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.displayDiv{
    font-size: 100px;
    color: #FFFFFF;
    text-align: center;
    transition:all 3s;
    width: inherit;
    height: inherit;
}

#mainOverlay{
  position: absolute;
  font-size: 20px;
  height: 95%;
  width: 95%;
  overflow: hidden;
}

#helper{
  height: 100%;
  vertical-align: middle;
  width: 300px;
}

#tableOfContents{
  display: flex;
  top: 38%;
  bottom:0;
  padding: 0px;
  width: 100%;
}

#contentItems{
  display: flex;
  flex-flow: column nowrap;
  padding-left: 38px;
  z-index: 2;
}

#footer{
  bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  width: 100vw;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.contactLink, .contactLink:visited, .contactLink:active, .contactLink:link, .contactLink:hover{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 40px;
}

#contactInfo{
  width: 100vw;
}

h1{
  font-size: 100px;
}

h2{
  font-size: 75px;
  font-family: 'myFontzThin';
}

.alignColCen{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.alignCol{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.alignCen{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.alignColWrap{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow:column wrap;
}

.workPoint{
  font-size: 14px;
}

#workDescription > il{
  font-size: 20px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}

#workDescription > il > i{
    display: flex;
    align-items: flex-start;
}
#workDescription > il > span{
    text-align:left;
    margin-top: -7px;
    padding-left: 8px;
}

#welcomeCanvas{
  height: 94%;
  width: 94%;
  top: 15px;
  bottom: 15px;
}

#myPicture, #apsPic{
  border: 6px solid #ffffff;
}

#about, #work, #skills{
  height: 99vh;
  width: 99%;
}

.projectPicture{
  border: 6px solid #ffffff;
}

#description{
  font-size: 30px;
  font-family: 'myFontzThin';
  margin-left: 0%;
}

@media only screen and (min-width: 359px) and (max-width: 540px){
  #menuIcon{
    top: 30px;
    left: 20px;
  }
}

@media only screen and (min-width: 540px){
  #menuIcon{
    top: 45px;
    left: 35px;
  }
}

@media only screen and (min-width: 359px) and (max-width: 768px){
  .projectName{
    font-size: 50px;
  }
  #foodPic{
    width: 300px;
    height: 300px;
  }
  #instafeed{
    width: 300px;
    height: 300px;
  }
  .meInfo{
    flex-flow: column nowrap;
    margin-left: -8%;
    margin-top: 100px;
    margin-bottom: 250px;
  }
  .APSContainer > .alignCen{
    flex-flow: column nowrap;
  }
  .APSContainer{
    margin-left: 0px;
  }
  #APSHead{
    margin-top: 30%;
    margin-left: 35px;
    font-size: 34px;
  }
  #apsPic{
    width: 70%;
    margin-right: -11%;
  }
  #workDescription{
    max-width: 84%;
    margin-top:  -150px;
  }
  #description{
    font-size: 20px;
    max-width: 77%;
    margin-left: 6%;
    margin-top: 70px;
  }
  #myPicture{
    width: 70%;
    margin-left: 6%;
    margin-bottom: 32%;
  }
  #footer{
    margin-left: -0.9%;
  }
  #work{
    height: 100%;
  }
  #APSSection{
    margin-top: -25%;
  }
  .APSContainer > .alignCen{
    margin-left: -8%;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  #projects > .alignColWrap{
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 768px){
  .projectName{
    font-size: 55px;
  }
  #foodPic{
    width: 332px;
    height: 332px;
  }
  #instafeed{
    width: 332px;
    height: 332px;
  }
  .meInfo{
    flex-flow: row nowrap;
    margin-left: -8%;
  }
  .APSContainer > .alignCen{
    flex-flow: row nowrap;
    margin-left: -8%;
  }
  .APSContainer{
    margin-left: 35px;
  }
  #workDescription{
    max-width: 100%;
    margin-top: -130px;
  }
  #APSHead{
    margin-top: 0%;
    margin-left:22px;
    font-size: 35px;
  }
  #footer{
    margin-left: -0.5%;
  }
  #mainBody{
    overflow: hidden;
  }
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 75px;
  }
  .APSContainer > .alignCen{
    margin-left: -8%;
  }
}

@media only screen and (max-width: 1020px){
  #helper{
    visibility: hidden;
  }
  #miniMenu{
    display: inline;
  }
  #menuBackground{
    display:inline;
  }
  #tableOfContents{
    top: 15px;
  }
  #contentItems > .menuItem{
    border-bottom: 2px;
  }
  #tableContentsRow{
    height: 45px;
  }
  h1{
    font-size: 65px;
  }
  h2{
    font-size: 50px;
  }
  .tinyTitleRow{
    display: inline-block;
  }
  .meInfo{
    height:calc(100% - 40px);
  }
  #mainBody{
    overflow: visible;
  }
  #projects > .alignColWrap{
    height: 100vh;
    margin-bottom: 70px;
  }
  #contactInfo{
    background-color: rgba(0,0,0,0.6);
    margin-left: 15px;
    width: calc(100% - 30px);
  }
  #footerList{
    padding-left: 0px;
  }
  #footer{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #picContainer{
    height: 60vh;
  }
}

@media only screen and (min-width: 1020px) {
  #helper{
    visibility: visible;
  }
  #miniMenu{
    display: none;
  }
  #menuBackground{
    display:none;
  }
  #tableOfContents{
    top: 38%;
  }
  .selectedMenu{
      transform: scale(2.0);
      transform-origin: left;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .selectedMenu i{
      transform: scale(0.55);
      transform-origin: left;
  }
  #tableContentsRow{
    height: 100%;
  }
  #outsideMenu{
    display: none;
  }
  .tinyTitleRow{
    display: none;
  }
  .meInfo{
    height:100%;
  }
  #projects > .alignColWrap{
    height: 93vh;
    margin-bottom: 0px;
  }
  #footerList{
    padding-left: px;
  }
  #picContainer{
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 980px){
    #description{
      font-size: 18px;
      max-width: 30%;
      margin-left: 6%;
    }
    #workDescription{
      max-width: 80%;
      margin-right: 0%;
    }
    #APSHead{
      margin-right: 0%;
    }
    #myPicture{
      height: 360px;
      width: 240px;
      margin-right: -30%;
      margin-left: 0%;
    }
    #apsPic{
      height: 360px;
      width: 240px;
      margin-right: -30%;
    }
    #APSSection{
      width: 55%;
    }
    #resumeLink{
      font-size: 20px;
    }.meInfo{
      margin-left: -8%;
    }
}

@media only screen and (min-width: 980px) and (max-width:1200px){
    #description{
      font-size: 18px;
      max-width: 28%;
    }
    #workDescription{
      max-width: 100%;
      margin-right: -15%;
    }
    #APSHead{
      margin-right: -15%;
    }
    #myPicture{
      height: 360px;
      width: 240px;
      margin-right: -6%;
    }
    #apsPic{
      height: 360px;
      width: 240px;
      margin-right: -32%;
    }
    #APSSection{
      width: 50%;
    }
    #resumeLink{
      font-size: 26px !important;
    }
    .meInfo{
      margin-left: -0.5%;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1439px) {
    #description{
      font-size: 25px;
      max-width: 30%;
      margin-left: 0%;
    }
    #workDescription{
      max-width: 50%;
      margin-right: -5%;
    }
    #APSHead{
      margin-right: 0%;
    }
    #myPicture{
      height: 460px;
      width: 333px;
      margin-right: -6%;
    }
    #apsPic{
      height: 400px;
      width: 266px;
      margin-right: -20%;
    }
    #APSSection{
      width: 50%;
    }
    #resumeLink{
      font-size: 30px !important;
    }
}

@media only screen and (min-width: 1440px) {
    #description{
      max-width: 40%;
      font-size: 27px;
      margin-left: 0%;
    }
    #workDescription{
      max-width: 100%;
      margin-right: -5%;
    }
    #APSHead{
      margin-right: 0%;
    }
    #myPicture{
      max-width: 100%;
      height: auto;
      width: auto\9;
      margin-right: 0%;
    }
    #apsPic{
      max-width: 100%;
      height: auto;
      width: auto\9;
      margin-right: 0%;
    }
    #resumeLink{
      font-size: 30px !important;
    }
    .meInfo{
      margin-left: -8%;
    }
}

#food{
  height: 100vh;
}

#foodButton{
}

#myPics{
  width: 612px;
  height: inherit;
}

#pressForFood, #pressForFood.active, #pressForFood.selected{
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 0%;
}

#skillsTop{
  margin-bottom: 1%;
  margin-top: 1%;
}

.skillsTitle{
  height: 65px;
}

.skillsLastItem{
  margin-top: -60%;
}

.skillsSpace{
  margin-left:4.55%;
}

.skillsSpaceLast{
  margin-left:4%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.skillIcon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.menuItem {
  transition: all .2s ease-in-out;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 5;
}
.menuItem:hover {  }

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

#foodPic{
  border: 6px solid #ffffff;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #FFFFFF;
}

.smallSkills #skillsTop .carousel-wrapper-top .carousel {
  width: 550px;
  height: 215px;
}

.smallSkills #skillsBottom .carousel-wrapper-bottom .carousel {
  width: 650px;
  height: 155px;
}

.skill-carousel{
    display:flex;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    margin-top: -2%;
}

.carousel-wrapper-top .carousel {
  width: 820px;
  height: 215px;
}

.carousel-wrapper-top .carousel img {
  display: block;
  margin-left: 71px;
  margin-right: 71px;
}

.carousel-wrapper-bottom .carousel {
  width: 750px;
  height: 155px;
}

.carousel-wrapper-bottom .carousel img {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: -7%;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1.0 !important;
  background: transparent !important;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white !important;
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  background: transparent !important;
}

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white !important;
}

.flickity-prev-next-button.previous{
  left: -7%;
  top: 40%;
}

.flickity-prev-next-button.next{
  right: -7%;
  top: 40%;
}

.hidey{
  display: none;
}

.projectName{
  white-space: nowrap;
  margin-bottom: 7px;
}

.smallSkills{
  display:none;
}

.eitherSkills{
  position: absolute;
}

@media only screen and (min-width: 1151px) {
  .bigSkills{
    display: inline-block;
  }
  .smallSkills{
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .bigSkills{
    display: none;
  }
  .smallSkills{
    display: inline-block;
  }
}

@media only screen and (min-height: 625px) {
  .skillsTitle{
    font-size: 65px;
    margin-bottom: 35px;
    margin-top: 5px;
    margin-left: 1.07%;
  }
}
@media only screen and (max-height: 624px) {
  .skillsTitle{
    font-size: 45px;
    margin-bottom: -9px;
    margin-top: 8px;
    margin-left: 0.7%;
  }
}

.blink {
  animation-duration: 500ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.lightBlink {
  animation-duration: 1000ms;
  animation-name: lightBlink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes lightBlink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.65;
  }
}

.tinyTitle{
    font-size: 30px;
}

.tinyTitleRow{
  margin-top: 50px;
}

.raiseZ{
  z-index:3;
}
