@font-face {
    font-family: 'myFontz';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'myFontzThin';
    src: url('../fonts/Roboto-Thin.ttf');
}

* {
  font-size: 100%;
  font-family: 'myFontz';
}

#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed;
}

#left, #right {
  top: 0; bottom: 0;
  width: 15px;
}

#left{
  left: 0;
}

#right{
  right:0;
}

#top, #bottom {
  left: 0; right: 0;
  height: 15px;
}

#top{
  top: 0;
}

#bottom{
  bottom:0;
}

#mainBody{
  background-color: #FFFFFF;
  color: #FFFFFF;
  transition:all 1s;
  font-size: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mainContent{
  width: 99%;
  height: 99%;
  overflow: hidden;
}

#myPicture{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.displayDiv{
    font-size: 100px;
    color: #FFFFFF;
    text-align: center;
    transition:all 3s;
    width: inherit;
    height: inherit;
}

#mainOverlay{
  position: absolute;
  font-size: 20px;
  height: 95%;
  width: 95%;
  overflow: hidden;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 300px;
}

#tableOfContents{
  display: flex;
  top: 43%;
  bottom:0;
  padding: 0px;
  width: 100%;
}

#contentItems{
  display: flex;
  flex-flow: column nowrap;
  padding-left: 38px;
}

#footer{
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  width: 99%;
  text-align: center;
}

.selectedMenu{
    transform: scale(2.0);
    transform-origin: left;
}

.selectedMenu{
    transform: scale(2.0);
    transform-origin: left;
}

.selectedMenu i{
    transform: scale(0.55);
    transform-origin: left;
}

.contactLink, .contactLink:visited, .contactLink:active, .contactLink:link, .contactLink:hover{
    margin-left: 4px;
    margin-right: 4px;
}


h1{
  font-size: 100px;
}

h2{
  font-size: 75px;
  font-family: 'myFontzThin';
}

.welcomeMessage{
  position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	margin-left: auto;
 	margin-right: auto;
}

.alignColCen{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.alignCol{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.alignCen{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#welcomeCanvas{
  height: 99%;
  width: 105%;
}

#myPicture{
  border: 6px solid #ffffff;
}

#about{
  height: 99vh;
  width: 99%;
}

#description{
  font-size: 30px;
  font-family: 'myFontzThin';
}

#picContainer{
  width: 800px;
  height: 75vh;
  margin: 0px;
}

#food{
  height: 100vh;
}
#foodButton{
  height: 25vh;
  top: 75%;
}
#myPics{
  width: 612px;
  height: 612px;
}

#pressForFood, #pressForFood.active, #pressForFood.selected{
  font-size: 30px;
  position: absolute;
  left:45%;
  top: 40%;
  color: #ffffff;
  text-decoration: none;
}

#instafeed{
  list-style: none;
  height: 100%;
  padding: 0;
}

#instafeed li{
  float:left;
  width: 306px;
  height: 306px;
}

#skills{
  height: 99vh;
}

#skillsTop{
  top: 20%;
}

.skillsTitle{
  height: 65px;
}

.skillsLastItem{
  margin-top: -60%;
}

.skillsSpace{
  margin-left:4.55%;
}

.skillsSpaceLast{
  margin-left:4%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.skillIcon:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.menuItem {
  transition: all .2s ease-in-out;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 5;
}
.menuItem:hover {  }

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

#foodPic{
  position: fixed; clip: rect(0px, 700px, 500px, 0px);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #FFFFFF;
}
