#top, #bottom, #left, #right {
  background: #ffffff;
  position: fixed;
}

#left, #right {
  top: 0; bottom: 0;
  width: 15px;
}

#left{
  left: 0;
}

#right{
  right:0;
}

#top, #bottom {
  left: 0; right: 0;
  height: 15px;
}

#top{
  top: 0;
}

#bottom{
  bottom:0;
}

#mainBody{
  background-color: #FFFFFF;
  transition:all 1s;
}

.displayDiv{
    left: 50%;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 50%;
    font-size: 100px;
    color: #FFFFFF;
}
